<div class="p-4 overflow-x-auto">
  {% if borrowed_cars %}
  <table class="min-w-full w-full bg-white shadow-md rounded-lg overflow-hidden table-auto">
    <thead class="bg-gray-100 text-gray-700 text-sm">
      <tr>
        <th class="py-3 px-4 text-left">Borrowed Date</th>
        <th class="py-3 px-4 text-left">Return Date</th>
        <th class="py-3 px-4 text-left">Rental Price</th>
        <th class="py-3 px-4 text-left">User</th>
        <th class="py-3 px-4 text-left">Car</th>
        <th class="py-3 px-4 text-left">Status</th>
      </tr>
    </thead>
    <tbody class="text-gray-700 divide-y divide-gray-200 text-sm">
      {% for record in borrowed_cars %}
      <tr class="hover:bg-gray-50">
        <td class="py-3 px-4">{{ record.borrowed_date }}</td>
        <td class="py-3 px-4">{{ record.user.return_date }}</td>
        <td class="py-3 px-4">KSh {{ record.rental_price }}</td>
        <td class="py-3 px-4">{{ record.user.full_name }}</td>
        <td class="py-3 px-4">{{ record.car.make }}</td>

        <td class="py-3 px-4">
          <select class="border rounded px-2 py-1 capitalize" id="status-dropdown-{{ record.id }}"
            onchange="updateStatus(this, '{{ record.id }}')">
            <option value="{{ record.status }}" selected>{{ record.status|capfirst }}</option>
            {% for status in statuses %}
            {% if status != record.status %}
            <option value="{{ status }}">{{ status|capfirst }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="text-center py-10 text-gray-500 text-lg">
    No borrowed cars yet
  </div>
  {% endif %}
</div>