<div class="mt-0 bg-white p-6 rounded-lg shadow">
    {% if current_step == 1 %}
    {% include 'dashboard/steps/step1.html' %}

    {% elif current_step == 2 %}
    <h3 class="text-xl font-semibold mb-4">Step 2: Confirm Car Details</h3>
    {% include 'dashboard/steps/step2.html' %}

    {% elif current_step == 3 %}
    <h3 class="text-xl font-semibold mb-4">Step 3: Payment Information</h3>
    {% include 'dashboard/steps/step3.html' %}

    {% elif current_step == 4 %}
    <h3 class="text-xl font-semibold mb-4">Step 4: Confirmation</h3>
    {% include 'dashboard/steps/step4.html' %}
    {% endif %}

    <!-- Navigation Buttons -->
    <div class="flex justify-between mt-6">
        {% if show_prev %}
        <a href="?step={{ current_step|add:'-1' }}"
            class="bg-gray-200 hover:bg-gray-300 text-gray-800 px-4 py-2 rounded">
            Previous
        </a>
        {% else %}
        <span class="invisible"></span>
        {% endif %}

        {% if show_next %}
        <a href="?step={{ current_step|add:'1' }}" class="bg-[#3cab4b] hover:bg-green-700 text-white px-4 py-2 rounded">
            Next
        </a>
        {% elif hide_next %}
        <span class="invisible"></span>
        {% elif disable_next %}
        <span class="bg-gray-100 text-gray-400 px-4 py-2 rounded cursor-not-allowed">
            Next
        </span>
        {% endif %}
    </div>

    <div class="mt-4 text-center">
        <a href="{% url 'user_dashboard' %}" class="text-sm text-[#3cab4b] hover:text-[#7c8991]">
            ← Back to Home
        </a>
    </div>
</div>